<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>天空网络科技告白墙</title>
	<link rel="stylesheet" href="__PUBLIC__/Forlove/style.css">
	<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Forlove/forlove.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="main">
	<div class="header">
		<div class="tophead">
			<h1>天空网络科技新媒体中心出品</h1>
		</div>
		<img src="__PUBLIC__/Forlove/logo.png" alt="告白墙" class="logo"><br>
		<a href="javascript:" class="butt">我要表白</a>
		<div class="nav">
			<ul>
				<li><a href="javascript:" id="ilink">首页</a></li>
				<li><a href="javascript:" id="slink">搜索</a></li>
				<li><a href="javascript:" id="alink">关于我们</a></li>
			</ul>
		</div>
	</div>
	<div class="search">
		<form action="" onsubmit="return false" class="sform">
			<input type="text" name="sinput" placeholder="请输入您要搜索姓名" class="his sin">
			<input type="submit" value="搜索" class="sjiao"></input>
		</form>
		</div>
	<div class="point about">
		<h2>关于我们</h2>
		<p>你好，欢迎天空网络科技新媒体中心</p>
		<p>欢迎使用天空网络科技告白墙！</p>
		<p>我们是<strong>天空网络科技新媒体中心</strong>。</p>
		<p>如果你对我们感兴趣，欢迎加入我们。</p>
		<p>我们的秘密基地在：http://skymz.cc</p>
		<p></p><p></p>
		<p></p>
		<h2>程序特性</h2>
		<p>1.为了节省服务器资源，告白者头像随机显示，不可指定或上传</p>
		<p>2.发言请遵守当地法律法规和学校规章制度，天空网络科技新媒体中心保留对于发布不良信息和人身攻击的自然人追究法律责任的权利。</p>
		<p>3.如发现有消息对个人生活产生困扰或想要获取告白者的联系方式，请联系站长。</p>
		<p>4.有看中我的妹子可以联系我（基佬勿扰） QQ：861275642 同时也可以反馈BUG</p>
		<p></p>
		<p></p>
		<h2>关于本告白墙作者</h2>
		<p>你好，我是天空网络科技的大佬，这个程序是基于thinkphp+ajax实现的告白墙程序，由于时间紧张，程序的疏漏之处在所难免，如果你有发现任何错误或者有任何建议，欢迎与我联系。<br>联系方式<br>QQ:724309878(如不在线忙碌请留言) <br>邮件联系：<img src="__PUBLIC__/Forlove/m.png" alt=""></p>
		<p>博客：<a href="http://skymz.cc">skymz.cc</a></p>
	</div>
	<div class="page">{$data}</div>
		<div class="footer">
	<p>版权所有 &copy; 天空网络科技新媒体中心</p>
	<p>Prowered by skymz.cc</p>
	</div>
</div>
<div class="notic">测试测试</div>
<div class="hidemask">
<div class="hidegaobai">
	<form action="" onsubmit="return false" id="gaobai">
		<p>我要告白<span class="close">X</span></p>
		<p><input type="text" name="email" placeholder="邮箱（必填）" class="his"></p>
		<p><input type="text" name="realname" placeholder="我的名称..." class="his"></p>
		<p><input type="text" name="towho" placeholder="告白对象..." class="his"></p>
		<p><textarea name="content" id="" cols="30" rows="10" placeholder="这是我要说的话" class="his"></textarea></p>
		<p><input type="submit" value="发布" class="hidegaobaisubmit"></p>
	</form>
</div>
</div>
<div class="load">
	<div class="spinner">
	  <div class="rect1"></div>
	  <div class="rect2"></div>
	  <div class="rect3"></div>
	  <div class="rect4"></div>
	  <div class="rect5"></div>
	</div>	
</div>
</body>
</html>